.nav-container {

    display: flex;
    justify-content: center;
}
#thank-you-page {
  display: none;
}
#hero-section{
  display: flex;
}

.hero-section {
    display: flex;
    justify-content: space-around;
}
.sub-hero-section{
  
    display: flex;
    flex-direction: column;
    align-items: center;
}
.person-image{
  height: 28rem;
  margin-top: 76px;
  border-radius: 15px;
}
.get-a-free{
  color: #000000;
  font-size: 3rem;
  padding-top: 20px;
}
.consultation{
  color: #000000;
  font-size: 2rem;
  padding-top: 20px;
  padding-bottom: 20px;
}

.input-name{
  margin-left: 0.7rem;
  height: 3rem;
  width: 19.5rem;
  /* padding-top: 6px; */
    /* padding-bottom: 6px; */
    border: 1px solid #ccc;
    border-radius: 4px;
}
.input-number{
  margin-left: 1rem;
  height: 3.5rem;
  width: 20rem;
}
body {
    font-family: Helvetica, sans-serif;
  }
  
  .container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
  }
  
  #phone, .btn {
    padding-top: 6px;
    padding-bottom: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .btn {
    color: #ffffff;
    background-color: #000000;
    border-color: #000000;
    font-size: 14px;
    outline: none;
    cursor: pointer;
    padding-left: 12px;
    padding-right: 12px;
    height: 3rem;
    width: 20rem;
    margin-top: 2rem;
  }
  
  .btn:focus, .btn:hover {
    background-color: #3276B1;
    border-color: #285E8E;
  }
  
  .btn:active {
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  }
  
  .alert {
    padding: 15px;
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
  }
  
  .alert-info {
    border-color: #bce8f1;
    color: #31708f;
    background-color: #d9edf7;
  }
  
  .alert-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
  }

  @media (max-width: 480px) {
    .hero-section{
    display: flex;
    flex-direction: column;
    }
    .person-image{
      height: 28rem;
      /* margin-top: 76px; */
      border-radius: 15px;
      max-width: 768px;
      margin: 0 auto;
    }
  }